@import "tailwindcss";

@layer base {
  :root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  body {
    background-color: var(--color-bg);
    height: 100vh;
  }

  body.dark {
    background-color: var(--color-dark-gallery-bg);
  }

  h1 {
    text-align: center;
    font-size: 3.2em;
    line-height: 1.1;
    font-weight: 600;
    margin: 0;
  }

  button {
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  input {
    border: 1px solid var(--color-border);
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
  }
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /* Основні кольори */
  --color-primary: #2563eb;
  --color-secondary: #10b981;
  --color-accent: #f59e0b;
  --color-error: #ef4444;

  /* Текст */
  --color-text-primary: #111827;
  --color-text-secondary: #FFFFFF;
  --color-text-muted: #6b7280;

  /* Фон */
  --color-bg: #f9fafb;
  --color-card: #ffffff;
  --color-border: #e5e7eb;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  --animate-custom-spin: rotation 1s linear infinite;
  
  @keyframes rotation {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

@layer components {
  .btn {
    @apply font-roboto text-text-primary font-bold p-sm rounded-sm bg-accent cursor-pointer;
  }

  .blockList {
    @apply flex gap-sm flex-wrap items-center;
  }

  .selected {
    outline: 2px black solid;
  }
}

.active {
  background-color: rgba(245, 158, 11, 0.65);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}